MYSQL_ROOT_PASSWORD=rootpass
MYSQL_DATABASE=clinica_pacientes
MYSQL_USER=clinica
MYSQL_PASSWORD=clinicapass
POSTGRES_DB=clinica_medicos
POSTGRES_USER=clinica
POSTGRES_PASSWORD=clinicapass
MONGO_INITDB_ROOT_USERNAME=clinica
MONGO_INITDB_ROOT_PASSWORD=clinicapass
MONGO_DB=clinica_citas
